brain-dump.txt

# PhpStorm
.idea/
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php

# VSC
.vscode/

# General
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.well-known/
*.sublime-*

# Node / npm / yarn
/node_modules
yarn-error.log

# Laravel / App
.env
.env-back
publicala-dev-local-3572870ec551.json
publicala-staging-67fd4336c663.json
publicala-production-a424d432adf4.json
/public/storage
/public/build
/public/js
/public/css
/public/fonts
/public/images
/public/mix-manifest.json
/storage/*.key
# Composer
.phpunit.result.cache
.phpunit.cache/
/vendor

# Homestead
Homestead.json
# Homestead.yaml we need this tracked!
.vagrant/
package-lock.json
