# Variables usadas por docker compose (infra)
APP_PORT=8888
VITE_PORT=5173
FORWARD_DB_PORT=5432
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=publicala_db
DB_USERNAME=publicala_user
DB_PASSWORD=publicala_password
WWWUSER=1000
